.page_top {
  background-color: #292524;
  color: white;
  background-image: url("/movie-theater.jpg");
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  background-size: cover;
}

